{% extends 'liquor/base.html' %}
{% block content %}

<h1>Submit your details to generate the token </h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
  

{% endif %}
{% if error %}<p><strong>{{ error }}</strong></p>{% endif %}
{% if isSearch == True %}
<form action="{% url 'liquor:search' %}" method="post">
{% csrf_token %}
{{form.as_p }}
<input type="submit" value="Get Store">
</form>
{% endif %}

{% if isSearch == False %}
<form action="{% url 'liquor:index' %}" method="post">
    {% csrf_token %}
    {{form.as_p }}
    <input type="submit" value="Get Token">
    </form>
    {% endif %}
{% endblock %}